@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:wght@400;500&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #141218;
}
